.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  font-family: var(--font-space_grotesk);
}

.footer p {
  color: #3b3b3b;
  font-weight: 500;
  line-height: 2;
}

.footer h1 {
  font-weight: 900;
  line-height: normal;
  font-size: 1.3em;
  color: rgb(184, 30, 148);
}

.footerContext {
  display: flex;
  flex-wrap: wrap;
}

.footerList ul li {
  color: #3b3b3b;
  font-weight: 500;
  line-height: 2.5;
}

.Socials {
  width: 100%;
}

.Socials ul {
  display: inline-flex;
  gap: 20px;
  padding: 50px 0 0 0;
}

.footerBottom {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerBottom span {
  font-weight: 500;
  color: rgb(115, 115, 115);
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
  .footer {
    padding: 0 10px 50px 10px;
    gap: 0;
  }

  .footer h1 {
    padding: 0 0 20px 0;
  }

  .footerIntro {
    width: 100%;
    padding: 0 5px 0 5px;
  }

  .footerIntro p {
    padding: 0;
  }

  .footerContext {
    width: 100%;
    gap: 10vw;
    justify-content: start;
  }

  .footerContext img {
    padding: 0 0 20px 0;
  }

  .footerList {
    width: 150px;
  }

  .footerList ul li {
    font-size: 0.9em;
    max-width: 100vw;
  }

  .Socials {
    width: 100%;
    position: relative;
    left: 50%;
  }

  .Socials ul {
    display: inline-flex;
    gap: 20px;
    padding: 50px 0 0 0;
  }

  .footerBottom {
    padding: 50px 0 50px 0;
  }

  .footerBottom span {
    text-align: center;
    font-size: 0.8em;
    max-width: 100vw;
    padding: 0 6px 0 6px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 373px) {
  .footer {
    padding: 0 10px 50px 10px;
    gap: 0;
  }

  .footer h1 {
    padding: 0 0 20px 0;
  }

  .footerIntro {
    width: 100%;
    padding: 0 5px 0 5px;
  }

  .footerIntro p {
    padding: 0;
  }

  .footerContext {
    width: 100%;
    gap: 10vw;
    justify-content: start;
  }

  .footerContext img {
    padding: 0 0 20px 0;
  }

  .footerList {
    width: 150px;
  }

  .footerList ul li {
    font-size: 0.9em;
    max-width: 100vw;
  }
  .Socials {
    width: 100%;
    position: relative;
    left: 70%;
  }

  .Socials ul {
    display: inline-flex;
    gap: 20px;
    padding: 50px 0 0 0;
  }

  .footerBottom {
    padding: 50px 0 50px 0;
  }

  .footerBottom span {
    text-align: center;
    font-size: 0.8em;
    max-width: 100vw;
    padding: 0px 20px 0px 20px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .footer {
    padding: 0 10px 50px 10px;
    gap: 0;
  }

  .footer h1 {
    padding: 0 0 20px 0;
  }

  .footerIntro {
    width: 100%;
    padding: 0 5px 0 5px;
  }

  .footerIntro p {
    padding: 0;
  }

  .footerContext {
    width: 100%;
    gap: 10vw;
    justify-content: start;
  }

  .footerContext img {
    padding: 0 0 20px 0;
  }

  .footerList {
    width: 150px;
  }

  .footerList ul li {
    font-size: 0.9em;
    max-width: 100vw;
  }
  .Socials {
    width: 100%;
    position: relative;
    left: 0;
  }

  .Socials ul {
    display: inline-flex;
    gap: 20px;
    padding: 50px 0 0 0;
  }

  .footerBottom {
    padding: 50px 0 50px 0;
  }

  .footerBottom span {
    text-align: center;
    font-size: 0.8em;
    max-width: 100vw;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .footer {
    padding: 0 10px 50px 10px;
    gap: 0;
  }

  .footer h1 {
    padding: 0 0 20px 0;
  }

  .footerIntro {
    width: 100%;
    padding: 0 65px 0 65px;
  }

  .footerIntro p {
    padding: 0;
  }

  .footerContext {
    width: 100%;
    gap: 10vw;
    justify-content: center;
  }

  .footerContext img {
    padding: 0 0 20px 0;
  }

  .footerList {
    width: 150px;
  }

  .footerList ul li {
    font-size: 0.9em;
    max-width: 100vw;
  }
  .Socials {
    width: 100%;
    position: relative;
    left: 0;
  }

  .Socials ul {
    display: inline-flex;
    gap: 20px;
    padding: 50px 0 0 0;
  }

  .footerBottom {
    padding: 50px 0 50px 0;
  }

  .footerBottom span {
    text-align: center;
    font-size: 0.8em;
    max-width: 80vw;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .footer {
    padding: 50px 10px 50px 10px;
    gap: 0;
  }

  .footer h1 {
    padding: 0 0 20px 0;
  }

  .footerIntro {
    padding: 0 50px 0 0;
    width: 350px;
  }

  .footerIntro p {
    padding: 0;
  }

  .footerContext {
    max-width: 100vw;
    gap: 20px;
    justify-content: center;
  }

  .footerContext img {
    padding: 0 0 20px 0;
  }

  .footerList {
    width: 150px;
  }

  .footerList ul li {
    font-size: 0.9em;
    max-width: 100vw;
  }

  .footerBottom {
    padding: 100px 0 50px 0;
  }

  .footerBottom span {
    font-size: 0.8em;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1440px <<<<<<    */
@media (min-width: 1440px) {
  .footer {
    padding: 0;
    gap: 0;
  }

  .footer h1 {
    padding: 0 0 20px 0;
  }

  .footerIntro {
    padding: 0 50px 0 0;
  }

  .footerIntro p {
    padding: 0;
  }

  .footerContext {
    max-width: 100vw;
    gap: 20px;
    justify-content: center;
  }

  .footerContext img {
    padding: 0 0 16px 0;
  }

  .footerList {
    width: 200px;
  }

  .footerList ul li {
    font-size: 0.9em;
    max-width: 100vw;
  }

  .footerBottom {
    padding: 90px 0 50px 0;
  }

  .footerBottom span {
    font-size: 0.8em;
  }
}
