/* MAIN STYLING DESIGN     */
.heroSection {
  width: 100%;
  background-color: white;
}

.heroBg {
  background-color: rgba(230, 226, 238, 0.726);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.heroSection h1 {
  font-weight: 900;
  line-height: normal;
  color: #761b60;  
  font-family: var(--font-space_grotesk);
}

.heroSection p {
  font-weight: 500;
  line-height: normal;
  color: rgba(25, 24, 24, 0.842);
  font-family: var(--font-montserrat);
}

.heroLeft {
  display: grid;
  flex: 1 1 0%;
  width: fit-content;
  height: fit-content;
}

.heroSocials {
  display: flex;
  gap: 10px;
  height: 10vh;
  width: fit-content;
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
   .heroSection {
    padding: 8vh 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 5px 0 5px;
  }

  .heroSection h1 {
    font-size: 8.8vw;
  }

  .heroSection p {
    padding: 30px 0 0 0;
    font-size: 0.8em;
  }

  .heroLeft {
    margin: 15vh 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: 0 auto 0 auto;
  }

  .heroImage {
    padding: 30px 0 30px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 374px) {
  .heroSection {
     padding: 8vh 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 5px 0 5px;
  }

  .heroSection p {
    font-size: 1.1em;
    padding: 30px 0 0 0;
  }

  .heroSection h1 {
    font-size: 9vw;
  }

  .heroLeft {
    margin: 15vh 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: 0 auto 0 auto;
  }

  .heroImage {
    padding: 30px 0 30px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .heroSection {
     padding: 8vh 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .heroSection p {
    font-size: 1.1em;
  }

  .heroSection h1 {
    font-size: 8.7vw;
  }

  .heroLeft {
    margin: 15vh 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: 0 auto 0 auto;
  }

  .heroImage {
    padding: 30px 0 30px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .heroSection {
    padding: 8  vh 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 50px 0 50px;
  }

  .heroSection p {
    font-size: 1.3em;
  }

  .heroSection h1 {
    font-size: 8vw;
  }

  .heroLeft {
    margin: 15vh 0 0 0;
  }

  .heroSocials {
    margin: 0 auto 0 auto;
    padding: 50px 0 50px 0;
  }

  .heroImage {
    padding: 30px 0 30px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .heroSection {
    padding: 10vh 5px 0 5px;
  }

  .heroBg {
    text-align: start;
    padding: 0 20px 0 20px;
  }

  .heroSection p {
    font-size: 1.2em;
    width: 45vw;
  }

  .heroSection h1 {
    font-size: 4.7vw;
  }

  .heroLeft {
    width: 40vw;
    margin: 10vh 0 0 0;
  }

  .heroSocials {
    padding: 70px 0 50px 0;
    margin: 0 0 0 0;
  }
  .heroImage {
    width: 45vw;
    padding: 30px 0 30px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1440px <<<<<<    */
@media (min-width: 1440px) {
  .heroSection {
    padding: 10.7vh 14px 30px 14px;
  }

  .heroBg {
    text-align: start;
    padding: 0 100px 0 100px;
  }

  .heroSection p {
    font-size: 1.2em;
    width: 35vw;
  }

  .heroSection h1 {
    font-size: 3.5vw;
  }

  .heroLeft {
    padding: 10vh 0 0 0;
  }

  .heroSocials {
    margin: 0 0 0 0;
    padding: 70px 0 50px 0;
  }

  .heroImage {
    padding: 20px 0 50px 0;
  }
}
