/* MAIN STYLING DESIGN     */
.heroSection {
  width: 100%;
  background-color: white;
}

.heroBg {
  background-color: rgb(244, 242, 251);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.heroSection h1 {
  font-weight: 900;
  line-height: normal;
  color: rgb(184, 30, 148);
  font-family: var(--font-space_grotesk);
}

.heroSection p {
  font-weight: 600;
  line-height: normal;
  color: rgb(61, 59, 59);
  font-family: var(--font-space_grotesk);
}

.heroLeft {
  display: grid;
  flex: 1 1 0%;
  width: fit-content;
  height: fit-content;
}

.heroSocials {
  display: flex;
  gap: 10px;
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
  .heroSection {
    padding: 50px 0 50px 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .heroSection p {
    font-size: 0.8em;
  }

  .heroSection h1 {
    font-size: 8.8vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 100px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: auto;
  }

  .heroImage {
    padding: 0 0 100px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 374px) {
  .heroSection {
    padding: 50px 0 50px 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .heroSection p {
    font-size: 1em;
  }

  .heroSection h1 {
    font-size: 9vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 100px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: auto;
  }

  .heroImage {
    padding: 0 0 100px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .heroSection {
    padding: 50px 0 50px 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .heroSection p {
    font-size: 1.1em;
  }

  .heroSection h1 {
    font-size: 9vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 100px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
   margin: auto;
  }

  .heroImage {
    padding: 0 0 100px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .heroSection {
    padding: 80px 10px 80px 10px;
  }

  .heroBg {
    text-align: center;
    padding: 0 50px 0 50px;
  }

  .heroSection p {
    font-size: 1.3em;
    padding: 20px 0 20px 0;
  }

  .heroSection h1 {
    font-size: 8vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 100px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
   margin: auto;
  }

  .heroImage {
    padding: 0 0 100px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .heroSection {
    padding: 80px 10px 80px 10px;
  }

  .heroBg {
    text-align: start;
    padding: 0 20px 0 20px;
  }

  .heroSection p {
    font-size: 1.2em;
    width: 80%;
    padding: 20px 0 20px 0;
  }

  .heroSection h1 {
    font-size: 4.4vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
   margin: 0;
  }
  .heroImage {
    margin: auto;
    width: 50%;
    padding: 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1440px <<<<<<    */
@media (min-width: 1440px) {
  .heroSection {
    padding: 80px 10px 80px 10px;
  }

  .heroBg {
    text-align: start;
    padding: 0 20px 0 20px;
  }

  .heroSection p {
    font-size: 1.2em;
    width: 80%;
  }

  .heroSection h1 {
    font-size: 3.5vw;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 0 0 0 100px;
  }

  .heroSocials {
    padding: 70px 0 50px 0;
   margin: 0;
  }

  .heroImage {
    margin: auto;
    width: 50%;
    padding: 0;
  }
}
