.mobileNav {
  position: fixed;
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  padding: 18px 30px 18px 10px;
}

.scrollMobileNav {
  width: 100%;
  justify-content: space-between;
  box-shadow: 40px 0px 0px 0px rgba(214, 212, 216, 0.501),
    0 6px 20px 0 rgba(202, 201, 206, 0.535);
}

.heroSocials {
  display: flex;
  gap: 10px;
  height: 10vh;
  width: fit-content;
}

@media (min-width: 1024px) {
  .mobileNav {
    display: none;
  }
}
