.mobileNav {
  position: fixed;
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 999;
}

.scrollMobileNav {
  width: 100%;
  justify-content: space-between;
  box-shadow: 40px 0px 0px 0px rgba(214, 212, 216, 0.501),
    0 6px 20px 0 rgba(202, 201, 206, 0.535);
}

@media (min-width: 1023px) {
  .mobileNav {
    display: none;
  }
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
   .mobileNav {
    padding: 20px 30px 20px 15px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 374px) {
   .mobileNav {
    padding: 20px 30px 20px 15px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
   .mobileNav {
    padding: 20px 30px 20px 15px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .mobileNav {
    padding: 20px 30px 20px 30px;
  }
}
