.navBar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 27px 150px 22px 120px;
  background-color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  z-index: 999;
}

.scrollNav {
  width: 100%;
  justify-content: space-between;
  box-shadow: 40px 0px 0px 0px rgba(214, 212, 216, 0.501),
    0 6px 20px 0 rgba(202, 201, 206, 0.535);
  z-index: 999;
}

.navLinks {
  display: flex;
  gap: 40px;
  font-size: 0.9em;
  font-weight: 600;
  color: rgb(184, 30, 148);
  font-family: var(--font-montserrat);
}

.links {
  display: flex;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  gap: 5px;
  padding: 0 0 3.5px 0;
}

.links:hover .dropContent {
  display: block;
}

.links:hover .dropBg {
  display: block;
}

.dropContent {
  display: none;
  background-color: white;
  max-width: 200px;
  margin: 5px 5px 5px 5px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 5px 5px 0px rgba(159, 159, 159, 0.2);
  padding: 20px 10px 20px 10px;
  z-index: 999;
}

.dropContent ul li {
  color: rgb(50, 50, 50);
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
  display: block;
}

.dropBg {
  display: none;
  position: absolute;
  background-color: transparent;
  padding: 20px 0 0 0;
  top: 30px;
  width: 150px;
  cursor: default;
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .navBar {
    padding: 27px 100px 22px 50px;
  }
}

@media (min-width: 1440px) {
  .navBar {
    padding: 27px 150px 22px 100px;
  }
}

/*
.links::before,
.links::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.links::before {
  content: "";
 show by default 
}
.links::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.links:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.links::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.links:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
*/
@media (max-width: 1023px) {
  .navBar {
    display: none;
  }
}
