.navBar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 30px 130px 30px 120px;
  background-color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
.scrollNav {
  width: 100%;
  justify-content: space-between;
  padding: 20px 80px 20px 80px;
}

.navLinks {
  display: flex;
  gap: 40px;
  font-size: large;
  font-weight: 800;
  font-family: var(--font-quicksand);
  color: rgba(0, 0, 0, 0.788);
}
.navLinks :hover {
  transform: scale(1.05);
}
@media (max-width: 768px) { 
    .navBar{
      display: none;
    }
 }