.navBar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 100ms;
  z-index: 999;
  font-family: var(--font-space_grotesk);
}

.scrollNav {
  width: 100%;
  justify-content: space-between;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  box-shadow: 40px 0px 0px 0px rgba(214, 212, 216, 0.501),
    0 6px 20px 0 rgba(202, 201, 206, 0.535);
  z-index: 999;
}

.navLinks {
  display: flex;
  gap: 40px;
  font-weight: 600;
  color: rgb(184, 30, 148);
  font-family: var(--font-montserrat);
}

.links {
  display: flex;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  gap: 5px;
  padding: 0 0 4px 0;
}

.links:hover .dropContent {
  display: block;
}

.links:hover .dropBg {
  display: block;
}
.links img {
  padding: 0;
}

.dropContent {
  display: none;
  background-color: white;
  max-width: 200px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 5px 0px rgba(159, 159, 159, 0.2);
  padding: 10px 10px 10px 10px;
  z-index: 999;
}

.dropContent ul a li {
  color: rgb(184, 30, 148);
  padding: 5px 10px 7px 10px;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 900;
  display: flex;
  gap: 13px;
  border: solid 1px transparent;
}

.dropContent ul a li span {
  padding: 2px 0 0 0;
}

.dropContent ul li:hover {
  background-color:rgba(197, 55, 164, 0.164);
  border-radius: 5px;
}

.dropBg {
  display: none;
  position: absolute;
  background-color: transparent;
  padding: 25px 0 0 0;
  top: 20px;
  width: 210px;
  cursor: default;
}

.notAllowed {
  cursor: not-allowed;
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .navBar {
    padding: 27px 141px 22px 110px;
  }
  .scrollNav {
    padding: 26px 141px 21px 110px;
  }

  .dropContent {
    margin: 6px 5px 5px 5px;
  }
  .navLinks {
    font-size: 0.9rem;
  }

  .dropContent ul a li {
    font-size: 0.9em;
  }
}

@media (min-width: 1440px) {
  .navBar {
    padding: 40px 202px 30px 161px;
  }
  .scrollNav {
    padding: 38px 202px 28px 161px;
  }

  .dropContent {
    margin: 13px 5px 5px 5px;
  }
  .navLinks {
    font-size: 1rem;
  }

  .dropContent ul a li {
    font-size: 1em;
  }
}

/*
.links::before,
.links::after {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

.links::before {
  content: "";
 show by default 
}
.links::before {
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.links:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.links::after {
  content: "";
  top: calc(100% + 4px);
  transform-origin: 0% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

.links:hover::after {
  transform-origin: 100% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}
*/
@media (max-width: 1023px) {
  .navBar {
    display: none;
  }
}
