.business {
  background-color: white;
  font-family: var(--font-space_grotesk);
}

.bg {
  background-color: white;
}

.businessContext {
  display: grid;
}

.intro {
  display: none;
  background-color: rgba(248, 248, 248, 0.563);
  font-weight: 700;
  color: rgb(184, 30, 148);
  border-radius: 5px;
}

.introMobile {
  display: none;
  background-color: rgb(248, 248, 248);
  font-weight: 700;
  color: rgb(184, 30, 148);
  border-radius: 5px;
}

.heading h1 {
  font-weight: 700;
  line-height: normal;
  color: rgb(184, 30, 148);
}

.businessContext p {
  font-weight: 600;
  line-height: normal;
  color: #4b494b;
}

.btn button {
  background: rgb(184, 30, 148); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgb(184, 43, 151),
    rgb(184, 38, 150),
    rgb(153, 34, 126)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgb(173, 40, 142),
    rgb(163, 35, 134),
    rgb(173, 33, 141)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
   border-radius: 5px;
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
  .business {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 10px 150px 10px;
    margin: 0 auto;
  }

  .businessContext {
    max-width: 100vw;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .introMobile {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 100%;
    text-align: center;
    font-size: 1em;
  }

  .intro {
    display: none;
  }

  .heading {
    font-size: 1.6em;
    padding: 20px 5px 20px 5px;
  }

  .businessImg {
    padding: 50px 10px 20px 10px;
  }

  .businessContext p {
    font-size: 0.9em;
    line-height: 2;
    padding: 20px 5px 20px 5px;
  }

  .btn {
    padding: 20px 0 20px 0;
  }

  .btn button {
    padding: 10px 0 10px 0;
    width: 90vw;
    font-size: 1em;
    background-color: rgb(184, 30, 148);
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 374px) {
  .business {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 7px 150px 7px;
    margin: 0 auto;
  }

  .businessContext {
    max-width: 100vw;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .introMobile {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
  }

  .intro {
    display: none;
  }

  .heading {
    font-size: 2.5em;
    padding: 20px 5px 20px 5px;
  }

  .businessImg {
    padding: 50px 20px 30px 20px;
  }

  .businessContext p {
    font-size: 1em;
    line-height: 2;
    text-align: start;
    padding: 20px 15px 20px 15px;
  }

  .btn {
    padding: 20px 0 20px 0;
  }

  .btn button {
    padding: 10px 0 10px 0;
    width: 90vw;
    font-size: 1em;
    background-color: rgb(184, 30, 148);
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .business {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px 10px 150px 10px;
    margin: 0 auto;
  }

  .businessContext {
    max-width: 100vw;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .introMobile {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
  }

  .intro {
    display: none;
  }

  .heading {
    font-size: 2.8em;
    padding: 20px 5px 20px 5px;
  }

  .businessImg {
    padding: 60px 20px 40px 20px;
  }

  .businessContext p {
    font-size: 1.2em;
    line-height: 2;
    padding: 20px 10px 20px 10px;
  }

  .btn {
    padding: 30px 0 30px 0;
  }

  .btn button {
    padding: 10px 0 10px 0;
    width: 90vw;
    font-size: 1em;
    background-color: rgb(184, 30, 148);
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .business {
    display: grid;
    justify-content: center;
    padding: 40px 10px 150px 10px;
    margin: auto;
  }

  .businessImg img {
    width: 90%;
    margin: auto;
  }

  .businessContext {
    max-width: 100vw;
    display: grid;
    justify-content: center;
    text-align: center;
  }

  .introMobile {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
  }

  .intro {
    display: none;
  }

  .heading {
    font-size: 4em;
    padding: 20px 10px 20px 10px;
  }

  .businessContext p {
    font-size: 1.1em;
    line-height: 2;
    padding: 20px 40px 20px 40px;
  }

  .btn {
    padding: 20px 0 20px 0;
  }

  .btn button {
    padding: 10px 0 10px 0;
    width: 50vw;
    font-size: 1em;
    background-color: rgb(184, 30, 148);
  }
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media only screen and (min-width: 1021px) {
  .business {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 50px 230px 50px;
  }

  .businessContext {
    text-align: start;
    width: 50%;
    margin: auto;
    padding: 0 30px 0 30px;
  }

  .businessImg {
    width: 50%;
    margin: auto;
    padding: 0 20px 0 20px;
  }

  .intro {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: 1em;
    width: fit-content;
    text-align: center;
  }

  .introMobile {
    display: none;
  }

  .heading {
    padding: 50px 5px 30px 0;
    font-size: 2.1em;
  }

  .businessContext p {
    font-size: 1em;
    padding: 0;
  }

  .btn button {
    background-color: rgb(184, 30, 148);
    padding: 10px 0 10px 0;
    width: 14.5vw;
    margin: 20px 0 10px 0;
    font-size: 1em;
  }

  .btn button:hover {
    background: rgb(184, 30, 148); /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      rgb(163, 36, 133),
      rgb(154, 33, 126),
      rgb(169, 46, 141)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      rgb(154, 35, 126),
      rgb(168, 38, 138),
      rgb(169, 46, 141)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}

/* >>>>>> RESPONSIVE DESIGN 1440px <<<<<<    */
@media (min-width: 1440px) {
  .business {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0 250px 0;
  }

  .businessContext {
    text-align: start;
    max-width: 50%;
    margin: auto;
    padding: 0 220px 0 0;
  }

  .businessImg {
    max-width: 50%;
    margin: auto;
    padding: 0 50px 0 150px;
  }

  .intro {
    display: inline-block;
    padding: 5px 20px 5px 20px;
    font-size: 1em;
    width: fit-content;
    text-align: center;
  }

  .introMobile {
    display: none;
  }

  .heading {
    padding: 50px 0 30px 0;
    font-size: 2.5em;
  }

  .businessContext p {
    font-size: 1em;
    padding: 0;
  }

  .btn button {
    background-color: rgb(184, 30, 148);
    padding: 15px 20px 15px 20px;
    width: 12vw;
    margin: 20px 0 10px 0;
    font-size: 1em;
    font-weight: 700;
  }

  .btn button:hover {
    background: rgb(184, 30, 148); /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      rgb(163, 36, 133),
      rgb(154, 33, 126),
      rgb(169, 46, 141)
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      rgb(154, 35, 126),
      rgb(168, 38, 138),
      rgb(169, 46, 141)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
}
