.Hero {
  width: 100%;
  background-color: white;
  font-family: var(--font-space_grotesk);
}

.heroBg {
  background-color: rgb(244, 242, 251);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.Hero h1 {
  font-weight: 900;
  line-height: normal;
  color: rgb(184, 30, 148);
}

.Hero p {
  font-weight: 600;
  line-height: normal;
  color: #3b3b3b;
}

.heroLeft {
  display: grid;
}

.heroSocials {
  display: flex;
  gap: 10px;
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
  .Hero {
    padding: 50px 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .Hero p {
    font-size: 0.8em;
  }

  .Hero h1 {
    font-size: 8.8vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: 0;
    width: 100%;
    padding: 50px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: auto;
  }

  .heroImage {
    padding: 0 0 50px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 374px) {
  .Hero {
    padding: 50px 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .Hero p {
    font-size: 1em;
  }

  .Hero h1 {
    font-size: 9vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: 0;
    width: 100%;
    padding: 50px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: auto;
  }

  .heroImage {
    padding: 0 0 50px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .Hero {
    padding: 50px 0 0 0;
  }

  .heroBg {
    text-align: center;
    padding: 0 10px 0 10px;
  }

  .Hero p {
    font-size: 1.1em;
  }

  .Hero h1 {
    font-size: 9vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: 0;
    width: 100%;
    padding: 50px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: auto;
  }

  .heroImage {
    padding: 0 0 50px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .Hero {
    padding: 75px 10px 0 10px;
  }

  .heroBg {
    text-align: center;
    padding: 0 50px 0 50px;
  }

  .Hero p {
    font-size: 1.3em;
    padding: 20px 0 20px 0;
  }

  .Hero h1 {
    font-size: 8vw;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    margin: 0;
    width: 100%;
    padding: 50px 0 0 0;
  }

  .heroSocials {
    padding: 50px 0 50px 0;
    margin: auto;
  }

  .heroImage {
    padding: 0 0 50px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .Hero {
    padding: 80px 10px 0 10px;
  }

  .heroBg {
    text-align: start;
    padding: 40px 0 40px 0;
  }

  .Hero p {
    font-size: 1.5vw;
    width: 85%;
    padding: 20px 0 20px 0;
  }

  .Hero h1 {
    font-size: 3.9vw;
    width: 100%;
    padding: 20px 0 20px 0;
  }

  .heroLeft {
    padding: 0 0 0 80px;
    max-width: 50%;
    margin: auto;
  }

  .heroSocials {
    padding: 20px 0 20px 0;
    margin: 0;
    width: 70%;
  }

  .heroImage {
    max-width: 50%;
    padding: 0;
  }

  .heroImage img {
    width: 83%;
    margin: auto;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1440px <<<<<<    */
@media (min-width: 1440px) {
  .Hero {
    padding: 100px 10px 0 10px;
  }

  .heroBg {
    text-align: start;
    padding: 40px 0 40px 0;
  }

  .Hero p {
    font-size: 1.3vw;
    width: 75%;
    margin: 0;
  }

  .Hero h1 {
    font-size: 3.5vw;
    margin: 0;
    width: 100%;
  }

  .heroLeft {
    margin: auto;
    width: 50%;
    padding: 0 0 0 150px;
  }

  .heroSocials {
    padding: 70px 0 50px 0;
    margin: 0;
    width: 100%;
  }

  .heroImage {
    width: 50%;
    padding: 0;
  }

  .heroImage img {
    width: 75%;
  }
}
