.mobileNav {
  position: fixed;
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 888;
  font-family: var(--font-space_grotesk);
  overflow-x: hidden !important;
}

.mobileNavInner {
  position: fixed;
  display: flex;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  z-index: 999;
  overflow-x: hidden !important;
}

.disableScroll {
  overflow: hidden;
}

.scrollMobileNav {
  width: 100%;
  justify-content: space-between;
  box-shadow: 40px 0px 0px 0px rgba(214, 212, 216, 0.501),
    0 6px 20px 0 rgba(202, 201, 206, 0.535);
}

.navMenu {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  padding: 100px 0 0 0;
  z-index: 900;
  overflow: auto;
}

.navLinks {
  display: grid;
  flex-wrap: wrap;
  max-width: 90%;
  margin: auto;
  font-family: var(--font-space_grotesk);
}

.navMenu p {
  color: #3b3b3b;
  font-weight: 500;
  line-height: 2;
}

.navMenu h1 {
  font-weight: 700;
  line-height: normal;
  color: rgb(184, 30, 148);
  padding: 0 0 14px 0;
}

.navMenu ul li {
  color: rgb(152, 41, 126);
  font-weight: 700;
  line-height: 2;
}

.navMenu ul li a {
  display: flex;
  gap: 10px;
  padding: 6px 0 6px 0;
}

.heroSocials {
  display: flex;
  width: 100%;
  margin: auto;
  gap: 15px;
  padding: 20px 0 20px 0;
}

@media (min-width: 1023px) {
  .mobileNav {
    display: none;
  }
  .navMenu {
    display: none;
  }
  .mobileNavInner {
    display: none;
  }
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
  .mobileNav {
    padding: 20px 30px 20px 15px;
  }
  .mobileNavInner {
    padding: 20px 30px 20px 15px;
  }

  .navLinks h1 {
    font-size: 1.5em;
  }

  .navLinks p {
    font-size: 1em;
  }

  .navLinks {
    display: grid;
     padding: 10px 10px 10px 10px;
    max-width: 100%;
    margin: auto;
    gap: 40px;
  }

  .heroSocials {
    display: flex;
    width: 100%;
    margin: auto;
    gap: 15px;
    padding: 40px 0 100px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 373px) {
  .mobileNav {
    padding: 20px 30px 20px 15px;
  }
  .mobileNavInner {
    padding: 20px 30px 20px 15px;
  }

  .navLinks h1 {
    font-size: 1.5em;
  }


.navMenu ul li a {
  font-size: 1rem;
}

  .navLinks {
    display: flex;
    padding: 20px 10px 20px 10px;
    max-width: 100%;
    margin: auto;
    gap: 50px;
  }

  .navList {
    padding: 5px 5px 5px 5px;
  }

  .heroSocials {
    display: flex;
    width: 100%;
    margin: auto;
    gap: 15px;
    padding: 40px 0 100px 0;
    justify-content: center;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .mobileNav {
    padding: 20px 30px 20px 15px;
  }
  .mobileNavInner {
    padding: 20px 30px 20px 15px;
  }

  .navLinks {
    display: flex;
     padding: 20px 10px 20px 10px;
    max-width: 100%;
    margin: auto;
    gap: 50px;
  }

  .navList {
    padding: 0 5px 0 5px;
  }

  .heroSocials {
    display: flex;
    width: 100%;
    margin: auto;
    gap: 15px;
    padding: 40px 0 100px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .mobileNav {
    padding: 20px 30px 20px 30px;
  }
  .mobileNavInner {
    padding: 20px 30px 20px 30px;
  }

  .navLinks {
    display: flex;
     padding: 50px 10px 50px 10px;
    max-width: 80%;
    margin: auto;
    gap: 50px;
  }

  .navList {
    padding: 0 5px 0 5px;
  }

  .heroSocials {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    gap: 15px;
    padding: 20px 0 20px 0;
  }
}
