.downloadApp {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(184, 30, 148);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
    0 6px 20px 0 rgba(183, 182, 182, 0.224);
    font-family: var(--font-space_grotesk);
}

.downloadApp h1 {
  font-weight: 670;
  line-height: normal;
  color: white;
}

.downloadApp p {
  font-weight: 500;
  line-height: normal;
  color: white;
}

.heroSocials {
  display: flex;
}
/* >>>>>> Hide image on mobile view <<<<<<    */
@media (max-width: 1023px) {
  .downloadImg {
    display: none;
  }
}

/* >>>>>> RESPONSIVE DESIGN TO 373px SCREEN DOWN <<<<<<    */
@media (max-width: 373px) {
  .downloadApp {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 30, 148);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
      0 6px 20px 0 rgba(183, 182, 182, 0.224);
    position: relative;
    bottom: 60px;

    max-width: 100%;
  }

  .downloadAppContext {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }

  .downloadAppContext h1 {
    font-size: 1.6em;
    padding: 10px 0 10px 0;
  }

  .downloadAppContext p {
    font-weight: 500;
    color: white;
    font-size: 0.8em;
    max-width: 100%;
    padding: 10px 0 10px 0;
  }

  .heroSocials {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px 20px 20px 20px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 374px GOING UP 425px <<<<<<    */
@media (min-width: 374px) {
  .downloadApp {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 30, 148);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
      0 6px 20px 0 rgba(183, 182, 182, 0.224);
    position: relative;
    bottom: 60px;

    max-width: 100%;
  }

  .downloadAppContext {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }

  .downloadAppContext h1 {
    font-size: 2em;
    padding: 10px 0 10px 0;
  }

  .downloadAppContext p {
    font-weight: 500;
    color: white;
    font-size: 0.9em;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
  }

  .heroSocials {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px 20px 20px 20px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 425px UP TO 768px <<<<<<    */
@media (min-width: 425px) {
  .downloadApp {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 30, 148);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
      0 6px 20px 0 rgba(183, 182, 182, 0.224);
    position: relative;
    bottom: 60px;

    max-width: 100%;
  }

  .downloadAppContext {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }

  .downloadAppContext h1 {
    font-size: 2.3em;
    padding: 10px 0 10px 0;
  }

  .downloadAppContext p {
    font-weight: 500;
    color: white;
    font-size: 1em;
    max-width: 100%;
    padding: 10px 10px 10px 10px;
  }

  .heroSocials {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px 10px 20px 10px;
  }
}

/* >>>>>> RESPONSIVE DESIGN 768px UP TO 1024px <<<<<<    */
@media (min-width: 768px) {
  .downloadApp {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 30, 148);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
      0 6px 20px 0 rgba(183, 182, 182, 0.224);
    position: relative;
    bottom: 60px;

    max-width: 90%;
  }

  .downloadAppContext {
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
  }

  .downloadAppContext h1 {
    font-size: 3em;
    padding: 10px 0 10px 0;
  }

  .downloadAppContext p {
    font-weight: 500;
    color: white;
    font-size: 1em;
    max-width: 100%;
    padding: 10px 100px 10px 100px;
  }

  .heroSocials {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
    padding: 20px 0 20px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1024px UP TO 1440px <<<<<<    */
@media (min-width: 1024px) {
  .downloadApp {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 30, 148);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
      0 6px 20px 0 rgba(183, 182, 182, 0.224);
    position: relative;
    bottom: 120px;
    max-width: 85%;
  }

  .downloadAppContext {
    width: 50%;
    margin: auto;
    text-align: start;
  }
  .downloadImg {
    width: 40%;
    margin: auto;
  }

  .downloadAppContext h1 {
    line-height: normal;
    font-size: 2.5em;
    max-width: 45vw;
  }

  .downloadAppContext p {
    font-weight: 500;
    color: white;
    font-size: 1em;
    max-width: 40vw;
    padding: 20px 0 0 0;
  }

  .heroSocials {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 0 0 0 0;
    padding: 50px 0 50px 0;
  }
}

/* >>>>>> RESPONSIVE DESIGN 1440px <<<<<<    */
@media (min-width: 1440px) {
  .downloadApp {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 30, 148);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(157, 155, 155, 0.401),
      0 6px 20px 0 rgba(183, 182, 182, 0.224);
    position: relative;
    bottom: 100px;

    max-width: 100%;
  }

  .downloadAppContext {
    width: 35%;
    margin: auto;
    text-align: start;
  }
  .downloadImg {
    width: 40%;
    margin: auto;
  }

  .downloadAppContext h1 {
    line-height: normal;
    font-size: 2.5em;
    width: 35vw;
  }

  .downloadAppContext p {
    font-weight: 500;
    color: white;
    font-size: 1em;
    max-width: 30vw;
    padding: 20px 0 0 0;
  }

  .heroSocials {
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: 0 0 0 0;
    padding: 50px 0 50px 0;
  }
}
